<div class="container list-page dashboard">

    <div class="column center-column">

      <div class="page-header">
        <h2><i class="fas fa-tachometer-alt"></i> Dashboard</h2>
      </div>

      <div class="dash-container container-fluid">

        <div class="dash-row row">
          <div class="dash-comp col-12 col-md-6 col-lg-4">
            x
          </div>
          <div class="dash-comp col-12 col-md-6 col-lg-4">
            x
          </div>
          <div class="dash-comp col-12 col-md-6 col-lg-4">
            x
          </div>
          <div class="dash-comp col-12 col-md-6 col-lg-4">
            x
          </div>
          <div class="dash-comp col-12 col-md-6 col-lg-4">
            x
          </div>
          <div class="dash-comp col-12 col-md-6 col-lg-4">
            x
          </div>
          <div class="dash-comp col-12 col-md-6 col-lg-4">
            x
          </div>
          <div class="dash-comp col-12 col-md-6 col-lg-4">
            x
          </div>
          <div class="dash-comp col-12 col-md-6 col-lg-4">
            x
          </div>
        </div>

      </div>
    </div>

    </div>

</div>
