// Define variables for your color scheme

// For example:
$red: #E1B2BA;
$blue: #8BC7E9;
$yellow: #F1D07D;
$orange: #F6B586;
$green: #98E0B9;
$gray: rgb(183,183,183);
$light-gray: rgb(245,245,245);
$dark-gray: rgb(80,80,80);
$light-blue: #8db3b5;
$dark-blue: #8db3b5;
