.filter-list {
  margin: 0 auto !important;
  justify-content: space-between;
}

.filling-empty-space-childs-filters {
  height: 0;
  padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .filter-list {
    margin-top: -1rem !important;
  }
}
