.list-page {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;

  .poll-list-row {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .column {
    padding: 0 1rem;
  }

  .left-column {
    display: none;
    position: fixed;
    min-width: 300px;
  }

  .center-column {
    // margin-left: 340px;
    // min-width: 340px;
    // max-height: calc(100vh - 100px);
    width: 100%;
  }

  .right-column {
    display: none;
    position: fixed;
    min-width: 300px;
    // margin-left: 760px;
  }
}
