.list-page {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;

  .column {
    padding: 0 1rem;
  }

  .left-column {
    position: fixed;
    min-width: 300px;
    background-color: $light-gray;
  }

  .center-column {
    margin-left: 340px;
    min-width: 340px;
    max-height: calc(100vh - 100px);
  }

  .right-column {
    position: fixed;
    margin-left: 760px;
    min-width: 300px;
  }
}
