<footer>

  <div class="footer-left">
    <p>
      &#169; <%= Time.now.strftime("%Y") %> Nuno Loureiro
      <span><a href="https://github.com/nloureiro88" target="_blank"><i class="fab fa-github fa-lg"></i></a></span>
      <span><a href="https://www.linkedin.com/in/nuno-loureiro-95815a5a/" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a></span>
    </p>
  </div>

  <div class="footer-right">
    <p>
      <span><a href="#">About</a></span>
      <span><a href="#">Terms & Conditions</a></span>
      <span><a href="#go-top">Up <i class="fas fa-caret-up"></i></a></span>
    </p>
  </div>

</footer>
