<div class="container list-page">

    <div class="column left-column"></div>

    <div class="column center-column">
      <%= render 'shared/pollist', locals: {polls: @polls}  %>
    </div>

    <div class="column right-column"></div>

    <%= render 'shared/navigator' %>
    <%= render 'shared/sidebar' %>

</div>
