<div class="container list-page">

    <div class="column center-column">

      <div class="page-header">
        <% if controller_name == 'polls' && action_name == 'index'  %>
          <h2><i class="fas fa-trophy"></i> Top</h2>
        <% elsif controller_name == 'polls' && action_name == 'loved' %>
          <h2><i class="fas fa-heart"></i> Loved</h2>
        <% elsif controller_name == 'polls' && action_name == 'funny' %>
          <h2><i class="fas fa-grin-squint"></i> Funny</h2>
        <% elsif controller_name == 'polls' && action_name == 'interesting' %>
          <h2><i class="fas fa-trophy"></i> Interesting</h2>
        <% elsif controller_name == 'polls' && action_name == 'sponsored' %>
          <h2><i class="fas fa-wallet"></i> Sponsored</h2>
        <% elsif controller_name == 'polls' && action_name == 'fresh' %>
          <h2><i class="fas fa-paint-roller"></i> Fresh</h2>
        <% elsif controller_name == 'polls' && action_name == 'manage' %>
          <h2><i class="fas fa-comment-alt"></i> My Polls</h2>
        <% elsif controller_name == 'polls' && action_name == 'answered' %>
          <h2><i class="fas fa-trophy"></i> My Answers</h2>
        <% end %>

        <% if @polls.size.zero? || @polls.nil? %>
          <% if action_name == 'manage' && Poll.where(user: current_user).count.zero? %>
            <h3> No results found <i class="far fa-sad-tear"></i>, create your first poll and you'll see it in this page!</h3>
          <% elsif action_name == 'answered' && Answer.where(user: current_user).count.zero? %>
            <h3> No results found <i class="far fa-sad-tear"></i>, answer your first poll and you'll see it in this page!</h3>
          <% else %>
            <h3> No results found <i class="far fa-sad-tear"></i>, please try to adjust your search and filters...</h3>
          <% end %>
        <% end %>
      </div>

      <%= render 'shared/pollist', locals: {polls: @polls}  %>
    </div>

    <%= render 'shared/filter-sidebar' %>
</div>
