<div class="container list-page">

    <div class="column left-column">
      <%= render 'shared/sidebar' %>
    </div>

    <div class="column center-column">
      Items
    </div>

    <div class="column right-column">
      <%= render 'shared/filters' %>
    </div>

</div>
