.navbar-lewagon  {
  justify-content: space-between;
  background: white;
  min-height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: $dark-gray;
  z-index: 2000;
  // border-top: 2px solid $gray;
  box-shadow: 2px 0 4px $gray;

  button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    margin: 0;
    padding: 0;

    i {
      color: #DBDADA !important;
    }

    &:visited {
      background-color: none;
      border: none;
      box-shadow: none;
      outline: none;
    }
  }

  .navbar-brand img {
    height: 3rem;
    margin-top: 0.5rem;
    filter: brightness(105%);

    &:hover {
      filter: brightness(85%);
      transition: all 0.3s ease-in-out;
    }
  }

  .dropdown-menu {
    border-radius: 4px;
    background-color: $dark-gray;

    a {
      color: white;
      font-size: 1rem;

      &:hover {
        background-color: $light-gray;
        color: $dark-gray;
      }
    }
  }

  .navbar-collapse {
    flex-grow: 0;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;

    ul.navbar-nav {
      margin: 0 !important;

      li.active {
        a, i {
          color: $light-blue !important;
        }
      }
    }

    .navbar-cont {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0.5rem;
      max-width: 350px;
    }

    .navbar-left, .navbar-center, .navbar-right {
      a, i {
        color: #DBDADA;
        font-size: 0.9rem;
      }
    }

    .nav-item {
      display: flex;
      align-items: center;

      i {
        margin-right: 0.5rem;
      }
    }
  }

  #navbarSearch {
    form {
      max-width: 350px;
      margin: 0.75rem auto;
      width: 100%;

      input {
        font-size: 0.9rem;
        border-radius: 4px;
        padding-right: 2rem;

        &::placeholder {
          color: rgb(220,220,220);
        }
      }
    }
  }

  .profile {
    img {
      height: 3rem;
      width: 3rem;
      border-radius: 4px;
      box-shadow: 2px 2px 2px #E6E6E6;
      cursor: pointer;

      &:hover {
        filter: brightness(95%);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
