.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  max-height: 80px;
  border-bottom: 1px solid $light-blue;
  top: 0;
  padding: 1rem 2rem;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 2000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
  margin-top: 10px;

  &:hover {
    filter: brightness(85%);
  }
}
