.poll-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  max-width: 300px;
  height: 320px;
  max-height: 320px;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px #E6E6E6;
  border-radius: 4px;
  border: 1px solid rgb(240,240,240);
  position: relative;

  .dropleft {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1rem;
    color: #C5C5C5;

    a, i {
      color: #C5C5C5;
    }

    i:hover {
      color: $gray;
    }

    .dropdown-menu {
      padding: 0;
      text-align: right;
      margin-top: -0.15rem;
    }

    .dropdown-card {
      flex-direction: row;
      align-items: center;
      margin-right: 0.3rem;
      min-width: 10rem;
      background-color: inherit;
      border: none;
      padding: none;

      &.show {
        background-color: inherit;
        border: none;
        padding: none;
      }

      .drop-option {
        padding-right: 1rem;
        font-size: 1rem;

        i:hover {
          color: $gray;
        }
      }
    }
  }

  .dropdown-toggle::before {
    display: none;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropleft-toggle::after {
    display: none;
  }

  .poll-frame {
    height: 240px;
    width: 240px;
    padding: 1rem;
    margin-top: -0.2rem;
    border-radius: 4px;
    border: 2px solid $light-gray;
    position: relative;

    .question-top {
      display: flex;
      align-item: center;
      justify-content: space-between;
      width: 100%;

      .question-top-left {
        display: flex;
        align-items: center;
        flex-grow: 1;

        p {
          font-size: 0.85rem;
          margin-bottom: 0;
          margin-left: 0.5rem;
          font-weight: 300;
        }
      }

      img {
        border-radius: 4px;
      }

    }

    .question-main {
      height: 120px;
      margin: 2rem auto;

      a {
        text-decoration: none;
        color: auto;
      }

      h4 {
        font-size: 1rem;
        margin-bottom: 0;
        font-weight: 500;
      }
    }

    .question-buttons{

      .btn-pg-skip {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
      }

      .btn-pg-click {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
      }
    }
  }

  .poll-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0.6rem;
    width: 80%;


    p {
      font-size: 0.75rem;
      font-weight: 400;
      margin-bottom: 0.2rem;
    }

    .poll-bottom-right {
      text-align: right;

      i {
        margin-left: 0.25rem;
      }
    }

    .lighter {
      font-size: 0.6rem;
    }
  }
}
