.poll-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: 340px;
  min-height: 340px;
  max-height: 340px;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px #E6E6E6;
  border-radius: 4px;
  border: 1px solid rgb(240,240,240);
  position: relative;

  button {
    background-color: none;
  }

  .poll-frame {
    height: 240px;
    width: 240px;
    padding: 1rem;
    margin-top: -0.2rem;
    border-radius: 4px;
    border: 2px solid $light-gray;
    position: relative;

    &:active {
      background-color: none;
    }

    &:visited {
      background-color: none;
    }
  }

  .answer-button {
    text-decoration: none;
    text-align: inherit;
    color: inherit;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    background-color: inherit !important;
  }

  .go-back{
    position: absolute;
    top: 1rem;
    left: 12%;
    cursor: pointer;
  }

  .dropleft {
    position: absolute;
    top: 0.75rem;
    right: 10%;
    font-size: 1rem;
    color: #C5C5C5;
    z-index: 5;

    a, i {
      color: #C5C5C5;
    }

    i:hover {
      color: $gray;
    }

    .more-info {
      // padding-bottom: 0.5rem;
    }

    .dropdown-menu {
      padding: 0;
      text-align: right;
      margin-top: -0.15rem;
    }

    .dropdown-card {
      flex-direction: row;
      align-items: center;
      margin-right: 0.3rem;
      min-width: 10rem;
      background-color: inherit;
      border: none;
      padding: none;

      &.show {
        background-color: inherit;
        border: none;
        padding: none;
      }

      .drop-option {
        margin-right: 1rem;
        font-size: 1rem;

        i:hover {
          color: $gray;
        }
      }
    }
  }

  .dropdown-toggle::before {
    display: none;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropleft-toggle::after {
    display: none;
  }

  // FRONT OF CARD

  .poll-card-front {

    .poll-frame {

      .question-top {
        display: flex;
        align-item: center;
        justify-content: space-between;
        width: 100%;

        .question-top-left {
          display: flex;
          align-items: center;
          flex-grow: 1;

          p {
            font-size: 0.85rem;
            margin-bottom: 0;
            margin-left: 0.5rem;
            font-weight: 300;
          }
        }

        img {
          border-radius: 4px;
        }
      }

      .question-main {
        height: 120px;
        margin: 2rem auto;

        a {
          text-decoration: none;
          color: auto;
        }

        h4 {
          font-size: 1rem;
          margin-bottom: 0;
          font-weight: 500;
        }
      }

      .question-buttons{

        .btn-pg-skip, .btn-pg-click {
          position: absolute;
          bottom: 0.5rem;
          right: 0.5rem;
          height: 30px;
          width: 60px;
          font-size: 0.85rem;
          font-weight: 500;
        }
      }
    }

    .poll-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 0.75rem;
      right: 10%;
      width: 80%;
      color: #C5C5C5;

      p {
        font-size: 0.75rem;
        font-weight: 400;
        margin-bottom: 0.2rem;
      }

      .poll-bottom-right {
        text-align: right;

        i {
          margin-left: 0.25rem;
        }
      }

      .poll-bottom-left {
        text-align: left;

        i {
          margin-left: 0.25rem;
        }
      }

      .lighter {
        font-size: 0.6rem;
      }
    }
  }

  // BACK OF CARD

  .poll-card-back {

    .poll-frame {

      .answer-top {
        margin: 0.2rem auto;

        a {
          text-decoration: none;
          color: auto;
        }
      }

      .answer-main {
        height: 200px;
        max-height: 200px;
        padding-left: 0.5rem;
        overflow: auto;

        .answer-option {
          display: flex;
          align-items: center;
          margin-bottom: 0.7rem;

          .form-radio {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
            background-color: white;
            min-height: 16px;
            min-width: 16px;
            height: 16px;
            width: 16px;
            border: 1px solid white;
            border-radius: 4px;
            padding: 0.2rem;
            margin-right: 0.7rem;
            cursor: pointer;
            outline: none;
          }

          .form-radio:hover {background-color: $gray !important;}
          .form-radio:checked{ background-color: white !important;}

          label {
            font-size: 1rem;
            line-height: 1.2;
            margin: 0;
            cursor: pointer;
            font-weight: 300;
            transition: all 0.3s ease-in-out;

            &:hover {
              font-weight: 500;
            }
          }

          .form-radio:hover ~ label {font-weight: 500;}

          .form-radio:checked ~ label {
            font-weight: 500;
            // color: $dark-gray;
          }
        }
      }
    }

    .answer-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 0.75rem;
      right: 10%;
      width: 80%;
      color: #C5C5C5;

      input.btn-send {
        height: 30px;
        width: 60px;
        font-size: 0.85rem;
        font-weight: 500;
      }

      p {
        font-size: 0.75rem;
        font-weight: 400;
        margin-bottom: 0.2rem;
      }

      .poll-bottom-right {
        text-align: right;
      }

      .poll-bottom-left {
        display: flex;
        align-items: center;
        text-align: left;

        input[type=checkbox] {
          display: none;
        }

        input[type=checkbox]:checked ~ label {
          color: $dark-gray;
        }

        label {
          margin: 0;
          cursor: pointer;
        }

        i {
          margin: 0 0.5rem;
        }
      }

      .lighter {
        font-size: 0.6rem;
      }
    }
  }

  // STATS OF CARD

  .poll-card-stats {

    .poll-frame {
    }

    .poll-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 0.75rem;
      right: 10%;
      width: 80%;
      color: #C5C5C5;

      p {
        font-size: 0.75rem;
        font-weight: 400;
        margin-bottom: 0;
      }

      .poll-bottom-right {
        text-align: right;
        display: flex;
        align-items: flex-start;

        i {
          margin: 0 0.3rem;
        }
      }

      .poll-bottom-left {
        text-align: left;

        i {
          margin-left: 0.25rem;
        }
      }

      .lighter {
        font-size: 0.6rem;
      }
    }
  }

  // UNFLIPPED

  .unflipped {
    display: none;
  }
}
