.sidebar {


  .sb-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;


    .sb-option {
      width: 100%;
      color: $gray;
      font-size: 0.9rem;
      padding: 0.7rem;
    }
  }

}
