// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Defaults

html {
  font-size: 16px;
}

body {
  background-color: rgb(250,250,250);
}

html,
body{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  letter-spacing: 1px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

input, select, textarea {
  font-size: 16px;
}

.tooltip {
  border-color: $dark-gray;
}

.tooltip-inner{
  font-size: 0.7rem;
  padding: 0.35rem;
  background-color: $dark-gray;
  border: none;
}

.wrapper {
  margin-top: 8rem;
  margin-bottom: 2rem !important;
  min-height: 82vh;
}

.hidden {
  display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border:none !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px $light-blue inset;
  -webkit-filter: brightness(140%);
  transition: background-color 5000s ease-in-out 0s;
}
